{% extends 'base.html' %}
{% load static %}

{% block title %}Comment On Blog Post{% endblock %}

{% block content %}
    
        <h1>Add Comment...</h1><hr/>
        <br/>
        <div class="mb-3">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-success">Add Comment</button>
                <a href="{% url 'blog:index' %}" class="btn btn-success">Back</a>
            </form>
        </div>
        
{% endblock %}