{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}
    <h1>{{ post.title }}</h1>
    <small>By: 
        {{ post.author.first_name }}
        {{ post.author.last_name }} -
        {{ post.post_date }}
        {% if user.is_authenticated %}
            {% if user.id == post.author.id %}
                - <a href="{% url 'blog:update-post' post.pk %}" class="link-success">
                (Edit)
                </a>
                <a href="{% url 'blog:delete-post' post.pk %}" class="link-success">
                (Delete)
                </a>
            {% endif %}
        {% endif %}
    </small></br>
    <hr/>
    {% if post.header_image %}
        <img src="{{ post.header_image.url }}" style="max-height: 500px; width: auto;">
    {% endif %}
    {{ post.body|safe|linebreaks }}
    <hr><br/>
    <h3>Comments...</h3><br/>
    {% if not post.comments.all %}
        No Comments Yet... <a href="{% url 'blog:add-comment' post.pk %}">Add One</a>
    {% else %}
        <a href="{% url 'blog:add-comment' post.pk %}">Add Comment</a>
        <br/><br/>
        {% for comment in post.comments.all %}
            
            {{ comment.body }}
            <br/>
            <strong>
                {{ comment.name }} -
                {{ comment.date_added }}
            </strong>
            
            <br/><br/>
        {% endfor %}
    {% endif %}
    <hr>
    <a href="{% url 'blog:index' %}" class="btn btn-success">Back</a>
{% endblock %}
