{% extends 'base.html' %}
{% load static %}

{% block title %}Delete Blog Post!{% endblock %}

{% block content %}
    {% if user.is_authenticated %}
        {% if user.id == post.author.id %}
            <h1>Delete Post...</h1>
            <br/><br/>
            <h3>Delete: {{ post.title }}</h3>
            <br/>
            <div class="mb-3">
                <form method="POST">
                    {% csrf_token %}
                    <button class="btn btn-success">Delete Post!</button>
                    <a href="{% url 'blog:article-detail' post.pk %}" class="btn btn-success">Back</a>
                </form>
            </div>
        {% else %}
            <h3>You're not allowed here! (and you know it...)</h3>
        {% endif %}
    {% else %}
        <h3>You're not allowed here! (and you know it...)</h3>
    {% endif %}
{% endblock %}
